* {margin:0;font-family:consolas,微软雅黑;font-size:13px}
body {background:#eee;}
input,button,select,textarea {outline:none;}
a {text-decoration:none;}
a:hover {text-decoration:none;}
#user-name, button:hover{cursor:pointer}

/* -- index -- */
.login {position:fixed;width:100%;height:100%;text-align:center;}
#canvas {position:absolute;width:100%;height:100%;z-index:-1;opacity:0.3}
.lgoin-body {width:300px;position:absolute;top:30vh;transition:1s;z-index:1;opacity:1;}
.lgoin-body tle {font-weight:bold;letter-spacing:0.4em;}
.login-cut {width:100%;margin-top:5vh;display:table;}
.login-cut span {padding:1em;color:#00b150;}
#login-login {float:left;}
#login-register {float:right;}
.login-data {position:relative;width:100%;margin-top:2vh;}
.login-user-data {border:1px solid #d4d4d4;border-radius:5px;background-color:#fff;position:relative;}
.login-user-data input {border:0px;height:3em;color:#000;width:100%;text-indent:1em;}
#login-user-name {border-radius:5px 5px 0 0;border-bottom:1px solid #d4d4d4;}
#login-user-pass {border-radius:0 0 5px 5px;}
.login-login-key-local {margin-top:2vh;display:table;width:100%;}
.login-login-key-local p {font-size:0.8em;float:left;margin-left:1em;}
#login-local-key {float:left;margin-top:0.3em;}
#login-error {float:right;border:0px;background-color:rgba(0,0,0,0);}
.login-social {margin-top:2vh;font-size:0.8em;color:#999;display:table;}
.login-social p {float:left;}
.login-social span {float:right;margin-left:3em;letter-spacing:1em;}
.login-social i {color:#00b150;}
.login-social i:hover {color:#999;}
#login-login-push {width:100%;height:3em;border:0;border-radius:5px;background-color:#00b150;color:#fff;margin-top:2vh;}
.login-login-body {position:absolute;width:100%;top:0;opacity:1;z-index:0;}
.login-login-body-off {opacity:0;z-index:-10;}
.login-register-body {position:absolute;width:100%;top:0;opacity:0;z-index:-10;}
.login-register-body-on {opacity:1;z-index:0;}
#login-register-phone {border-radius:5px 5px 0 0;border-bottom:1px solid #d4d4d4;}
#login-register-yzm {border-bottom:1px solid #d4d4d4;}
#login-register-key {border-bottom:1px solid #d4d4d4;}
#login-register-keyon {border-radius:0 0 5px 5px;}
#login-register-push {width:100%;height:3em;border:0;border-radius:5px;background-color:#00b150;color:#fff;margin-top:2vh;}
#login-register-login {float:right;border:0px;background-color:rgba(0,0,0,0);}
.login-top-xian {border-top:1px solid #00b150;}
.login-edit-key {position:absolute;width:100%;top:0;opacity:0;z-index:-10;}
.login-edit-key-on {opacity:1;z-index:0;}
#login-deit-phone {border-bottom:1px solid #d4d4d4;border-radius:5px 5px 0 0;}
#login-edit-phone {border-bottom:1px solid #d4d4d4;border-radius:5px 5px 0 0;}
#login-edit-yzm {border-bottom:1px solid #d4d4d4;}
#login-edit-key {border-bottom:1px solid #d4d4d4;}
#login-edit-keyon {border-radius:0 0 5px 5px;}
#login-edit-push {width:100%;height:3em;border:0;border-radius:5px;background-color:#00b150;color:#fff;margin-top:2vh;}
#login-edit-login {float:right;border:0px;background-color:rgba(0,0,0,0);}
.admin-return {position:fixed;width:50%;height:2em;background-color:#f00222;z-index:999;top:1vh;opacity:0;z-index:-100;text-align:center;color:#fff;line-height:2em;border-radius:5px;left:25%;}
.admin-return-on {opacity:1;z-index:999;}
.login-about {position:absolute;bottom:1vh;font-size:0.7em;color:#999;text-align:center;width:100%;}
.login-about a {color:#999;}
.login-about a:hover {color:#00b150;}
#login-on-yzm {position:absolute;right:5px;height:2em;border:0px;border-radius:5px;padding:0em 0.5em;top:6.55em;background-color:#00b150;color:#fff;}
#login-register-name {border-radius:5px 5px 0 0;border-bottom:1px solid #d4d4d4;}
#login-editm {position:absolute;right:5px;height:2em;border:0px;border-radius:5px;padding:0em 0.5em;top:3.55em;background-color:#00b150;color:#fff;}

/* -- admin -- */
#damin-user-data-li-pem {width:auto;}
#damin-user-data-time-n {width:6em;}
#damin-user-data-time-y {width:4em;}
#damin-user-data-time-r {width:4em;}
#damin-user-data-on {text-align:center;border-top:1px solid #ddd;text-indent:inherit;}
#damin-user-data-on button {margin:1em;background-color:#00b150;color:#fff;border:0px;padding:0.5em;}
#admin-html-on {opacity:1;z-index:1;display:inherit;}
.admin-title {width:100%;height:3em;background-color:#00b150;position:relative;text-align:center;}
.admin-title span {line-height:3em;color:#fff;display:block;background:#00b150;}
.admin-title button {position:absolute;right:1em;line-height:1.5em;font-size:1.7em;top:0;background:rgba(0,0,0,0);border:0;}
.admin-title i:hover {color:#f00222;}
.admin-body {width:95%;margin:2.5%;position:absolute;top:4em;opacity:0;z-index:-10;display:none;}
.admin-user {width:100%;height:100%;box-shadow:0 0 5px 1px #999;}
.admin-user-title {width:100%;height:2em;margin-bottom:1em;background-color:#0c9cf8;}
.admin-user-title span {display:block;text-align:center;float:left;line-height:2em;color:#fff;}
.admin-user-title input {margin-right:1em;}
.admin-user-li {border-top:1px solid #ddd;display:table;width:100%;}
.admin-user-li:hover {background-color:#eee;}
.admin-user-li span {display:block;float:left;text-align:center;color:#999;font-size:0.8em;line-height:2em;}
.admin-user-name,.admin-user-key,.admin-user-pem {width:25%;border-right:1px solid #474747;position:relative;}
.admin-user-time {width:24.5%;}
.admin-user-name input {position:absolute;top:0.5em;left:1em;}
.admin-user-li-error {background:#f00222;}
.admin-user-li-error span {color:#fff;}
.admin-user-tab {margin-top:1em;width:100%;height:2em;}
.admin-user-tab-body {text-align:center;font-size:0.8em;}
.admin-user-tab-body button {margin-left:2em;margin-right:2em;background-color:rgba(0,0,0,0);border:0px;color:#0c9cf8;}
.admin-user-edit {width:100%;height:2em;background:#eee;position:relative;}
.admin-user-edit  span {line-height:2.5em;float:left;margin-left:1em;font-size:0.8em;}
.admin-user-edit input {margin-right:1em;}
.admin-user-edit button {margin-left:2em;border:0px;background-color:rgba(0,0,0,0);color:#f00222;}
.admin-user-data {position:fixed;width:100%;height:100%;top:0;left:0;background-color:rgba(0,0,0,0.5);z-index:-10;text-align:center;opacity:0;}
.damin-user-data-body {width:500px;margin:0 auto;margin-top:20vh;background-color:#fff;padding-top:0.5em;}
.damin-user-data-li {text-align:left;text-indent:2em;font-size:0.8em;margin-top:1em;}
.damin-user-data-li span {margin-left:2em;color:#999;}
.damin-user-data-li input {border-radius:2px;border:1px solid #00b150;text-indent:1em;width:50%;}
.admin-user-data-on {opacity:1;z-index:10;}
.admin-userdata-sumnew {position:absolute;left:50%;height:100%;border-left:1px solid #999;}
.admin-userdata-sumnew button {height:1.7em;background:#00b150;color:#fff;margin-top:0.3em;border-radius:3px;}
.admin-userdata-sumnew input {border-radius:3px;border:1px solid #00b150;height:1.5em;width:20em;}
.admin-cookie {width:95%;margin:2.5%;opacity:0;z-index:-10;display:none;}
.admin-cookie-title {width:100%;}
.admin-cookie-title button {width:5em;background:#0c9cf8;color:#fff;border:0px;height:2em;margin-right:1em;border-radius:5px;}
.admin-cookie-li-this {background:#fff;}
.admin-cookie-body {margin-top:2em;width:100%;}
.admin-cookie-li-name {width:29.5%;display:block;float:left;text-align:center;border-right:1px solid #999;}
.admin-cookie-li-cookie {width:70%;display:block;float:left;text-align:center;position:relative;}
.admin-cookie-li-cookie input {height:1.5em;top:0.25em;border:1px solid #ddd;position:absolute;left:1em;width:80%;}
.admin-cookie-li {display:table;width:100%;color:#999;height:2em;line-height:2em;border-bottom:1px solid #ddd;}
.admin-cookie-ul {width:100%;margin-top:1em;background:#eee;box-shadow:0 0 5px 3px #999;}
.admin-cookie-titleli {background-color:#00b150;display:table;width:100%;color:#fff;height:2em;line-height:2em;}
.admin-cookie-li-edit {position:absolute;top:0;right:1em;height:100%;}
.admin-cookie-data {margin-top:1em;height:2em;background:#00b150;}
.login-body-hide {opacity:0;z-index:-1;}
.sercar {width:600px;z-index:-1;position:absolute;top:40vh;transition:1s;opacity:0;}
.sercar-show {opacity:1;}
.sercar-body {position:absolute;width:100%;top:0;}
#sercar-input {width:100%;height:3em;border-radius:5px;text-indent:2em;border:1px solid #d4d4d4;}
.sercar-type {position:absolute;right:1em;padding:5px;border-radius:3px;background-color:#00b150;color:#fff;top:0.6em;transition:0.8s;opacity:0;}
.dowm-body {width:100%;margin-top:3em;position:relative;}
.dowm-body button {position:absolute;width:40%;height:3em;border-radius:5px;border:0;background:#00b150;color:#fff;opacity:0;transition:0.5s;}
.loading {width:100%;font-size:1.5em;text-align:left;margin-top:1em;color:#00b150;opacity:0;transform:0.5s;}
#dowm-img {left:0;}
#dowm-psd {right:0;}
#down-show {opacity:1;}
.loading-show {opacity:1;}
.sercar-img {width:100%;height:30vh;background-size:cover;background-position:50%;transition:0.5s;opacity:0;border:1px solid #00b150;border-radius:5px;}
.sercar-top {top:20vh;}
.sercar-img-show {opacity:1;}
.user-name {position:fixed;right:0;top:5vh;padding:10px;background:#383838;color:#fff;border-radius:5px 0 0 5px;text-align:left;}
.user-data {width:200px;margin-top:1em;padding-top:1em;display:none;}
.user-data button {width:100%;background:#fff;border:1px solid #ddd;height:2em;border-radius:3px;margin-bottom:1em;}
.user-data span {color:#00b150;}
.user-data input {background:rgba(0,0,0,0);border:0;color:#00b150;}
.user-data i {margin-right:1em;}
.user-data p {margin-bottom:20px;}
#user-name {color:#00b150;font-size:1.3em;}
.user-data-hied {display:block;}
.sercar-type-show {opacity:1;}
#dowm-auto {width:100%;left:0;}
.sercar-backgro {width: 100%;height: 2em;text-align: left;color: #00b150;}
.code {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(255,255,255,0.8);
    top:0;
    left: 0;
}
